//variables
$darkgrey: #383838;
$pink: #d35266;
$bold-light: 500;
$bold-dark: 700;
$button-edges: 10%;
$margin-center: auto;
$font-white: white;
$width-size-half: 50%;
$none-styling: none;
$centre-align: center;
$section-color: #888888;

//styling
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "helve-bold";
  src: url("/fonts/FontsFree-Net-HelveticaNeueBold.ttf");
}

@font-face {
  font-family: "helve-medium";
  src: url("/fonts/FontsFree-Net-HelveticaNeueMedium.ttf");
}

@font-face {
  font-family: "helve-light";
  src: url("/fonts/FontsFree-Net-HelveticaNeueUltraLight.ttf");
}

@font-face {
  font-family: "gotham-bold";
  src: url("/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "gotham-rounded";
  src: url("/fonts/Gotham-Rounded-Light_21020.ttf");
}

.first-header {
  flex-direction: row;
  background-color: $darkgrey;
}

.icon-color {
  color: $pink;
}

.first-header-button {
  border-radius: $button-edges;
  background-color: $pink;
  border: $none-styling;
  font-family: "gotham-rounded";
}

.home-navigation {
  color: $pink;
}

.text-format {
  font-family: "helve-bold";
  color: $font-white;
  font-weight: $bold-dark;
}

.header-two {
  background-color: $pink;
  color: $font-white;
  font-weight: $bold-light;

  .header-font {
    font-family: "gotham-bold";
  }

  .header-font-2 {
    font-family: "gotham-rounded";
  }

  .form-font {
    font-family: "helve-medium";
  }
}

.input-form {
  border: $none-styling;
  border-radius: $button-edges;
}

.form-width {
  // width: 50%;
  margin: $margin-center;
}

.second-header-button {
  width: $width-size-half;
  margin: $margin-center;
  color: $font-white;
  font-weight: $bold-light;
  border-radius: $button-edges;
  background-color: $darkgrey;
  border: $none-styling;
}

.search-button {
  background-color: $darkgrey;
  border-radius: $button-edges;
  border: $none-styling;
  margin-top: 10px;
}

.nav-image {
  width: 50px;
}

.hot-deals {
  flex-direction: row;
  align-items: $centre-align;
}

.p-hot-deals {
  color: $pink;
  font-family: "helve-medium";
  margin-top: 0.5rem;
}

.hot-deals-text {
  font-family: "gotham-rounded";
}

.hot-deals-button {
  background-color: $pink;
  color: $font-white;
  border-radius: $button-edges;
  border: $none-styling;
  font-family: "gotham-rounded";
}

.button-padding {
  padding-bottom: 1rem;
}

.section-formatting {
  background-color: $section-color;
  font-family: "gotham-rounded";
}

.card-space {
  margin: 1rem 0.5rem 0 0.5rem;
}

.add-info,
.section-three-font,
footer {
  font-family: "helve-medium";
}

.checkbox-font,
.results-font {
  font-family: "gotham-light";
}

@media screen and (max-width: 767px) {
  .header-two {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .input-area {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
  }

  // .resp-width{
  //   width: 20%;
  // }

  .arrows {
    padding-right: 20px;
    padding-left: 20px;
  }
}
