* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "helve-bold";
  src: url("/fonts/FontsFree-Net-HelveticaNeueBold.ttf");
}

@font-face {
  font-family: "helve-medium";
  src: url("/fonts/FontsFree-Net-HelveticaNeueMedium.ttf");
}

@font-face {
  font-family: "helve-light";
  src: url("/fonts/FontsFree-Net-HelveticaNeueUltraLight.ttf");
}

@font-face {
  font-family: "gotham-bold";
  src: url("/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "gotham-rounded";
  src: url("/fonts/Gotham-Rounded-Light_21020.ttf");
}

.first-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #383838;
}

.icon-color {
  color: #d35266;
}

.first-header-button {
  border-radius: 10%;
  background-color: #d35266;
  border: none;
  font-family: "gotham-rounded";
}

.home-navigation {
  color: #d35266;
}

.text-format {
  font-family: "helve-bold";
  color: white;
  font-weight: 700;
}

.header-two {
  background-color: #d35266;
  color: white;
  font-weight: 500;
}

.header-two .header-font {
  font-family: "gotham-bold";
}

.header-two .header-font-2 {
  font-family: "gotham-rounded";
}

.header-two .form-font {
  font-family: "helve-medium";
}

.input-form {
  border: none;
  border-radius: 10%;
}

.form-width {
  margin: auto;
}

.second-header-button {
  width: 50%;
  margin: auto;
  color: white;
  font-weight: 500;
  border-radius: 10%;
  background-color: #383838;
  border: none;
}

.search-button {
  background-color: #383838;
  border-radius: 10%;
  border: none;
  margin-top: 10px;
}

.nav-image {
  width: 50px;
}

.hot-deals {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-hot-deals {
  color: #d35266;
  font-family: "helve-medium";
  margin-top: 0.5rem;
}

.hot-deals-text {
  font-family: "gotham-rounded";
}

.hot-deals-button {
  background-color: #d35266;
  color: white;
  border-radius: 10%;
  border: none;
  font-family: "gotham-rounded";
}

.button-padding {
  padding-bottom: 1rem;
}

.section-formatting {
  background-color: #888888;
  font-family: "gotham-rounded";
}

.card-space {
  margin: 1rem 0.5rem 0 0.5rem;
}

.add-info, .section-three-font, footer {
  font-family: "helve-medium";
}

.checkbox-font, .results-font {
  font-family: "gotham-light";
}

@media screen and (max-width: 767px) {
  .header-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .input-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .arrows {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */